.dashboard {
  height: 92vh;

  padding: 6px;
  display: flex;
  flex-flow: wrap;

  justify-content: center;
  margin-top: -5rem;
}
.dashboard-center {
  margin-top: 5rem;
  max-width: 880px;
  height: 99.35%;
}
.dashboard-right {
  margin-top: 5rem;
  height: 99.35%;
  max-width: 500px;
  margin-bottom: 55px;
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}

.dashboard > * {
  justify-self: center;
  flex: 1 1 320px;
}
