.feedComponent {
  display: inline-block;
  width: 345px;
  padding: 1rem;
}

.feedComponent--following {
  width: 50%;
}
.feedComponent--popular {
  width: 50%;
}
.feedComponent--repos {
  width: 50%;
}
.feedComponent--starred {
  width: 50%;
}
.feedComponent--watching {
  width: 50%;
}

.feedComponentContainer {
  display: flex;
  background-color: white;
  height: 80vh;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.feedComponentTitle {
  font-family: 'neue_montrealbold';
  align-self: center;
}

.feedComponentHeader {
  display: flex;
  align-content: center;
  height: 30px;
}

.feedComponentHeader > img {
  padding: 0.2rem;
  width: 25px;
  margin-right: 0.2rem;
}
