header {
  box-sizing: border-box;
  height: 62px;
  width: 100%;
  background-color: #333333;
  display: flex;
  color: #f0f0f0;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  position: fixed;
  top: 0;
}

.logout-button {
  border: none;
  background: none;
  color: #f0f0f0;
  font-family: 'neue_montrealbold';
  font-size: 1.6rem;
}
