.landingPageContainer {
  display: flex;
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 1.6rem;
  padding-bottom: 1.6rem;
  border-radius: 3px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.landingPageContainer p {
  margin: 0px 0px 1.6rem 0px;
}

.landingPage {
  width: 80%;
  max-width: 710px;
  margin-top: 1.6rem;
}

.landingPage-button {
  background: $default-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 1rem 0 1rem;
  overflow: visible;
  height: 29px;
  width: 9.2rem;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.landingPage-button:hover {
  box-shadow: 0px 8px 17px 0px hsla(0%, 0%, 0%, 0.2),
    0 6px 20px 0 hsla(0%, 0%, 0%, 0.19);
  cursor: pointer;
}
