.landingPageContainer {
  display: flex;
  background-color: white;
  height: 80vh;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.landingPage {
  width: 80%;
  max-width: 710px;
  margin-top: 1.6rem;
}
