input[type='text'],
input[type='email'],
input[type='password'] {
  // display: inline-block;
  width: 82.5%;
  height: 50px;
  padding: 4px 6px;
  border: 1px solid black;
  border-left: 0px;
  border-radius: 0 4px 4px 0;
  // margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: medium;
  vertical-align: bottom;
}

form {
  width: 320px;
}

label {
  margin-top: 20px;
}

fieldset {
  border: none;
}

.red-text {
  color: red;
  font-size: 1.2rem;
  line-height: 1.2rem;
  display: block;
  height: 20px;
  margin-top: 0.4rem;
}

.name-field,
.email-field,
.password-field {
  margin-bottom: 0.5rem;
}
