.registration-section {
  background-color: white;
  width: 320px;
  margin-top: 44px;
  height: fit-content;
  border-radius: 4px;
}

.register-button {
  background: $default-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 1rem 0 1rem;
  overflow: visible;
  height: 29px;
  width: 9.2rem;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.register-button:hover {
  box-shadow: 0px 8px 17px 0px hsla(0%, 0%, 0%, 0.2),
    0 6px 20px 0 hsla(0%, 0%, 0%, 0.19);
  cursor: pointer;
}

.registration-section legend {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: neue_montrealbold;
  text-align: center;
  max-width: fit-content;
  padding: 0;
}

.form-text {
  text-align: center;
  margin-top: 0.4rem;
}
