* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f0ec;
  font-family: 'neue_montreallight';
  font-size: $m-size;
  letter-spacing: 0.1rem;
}

p {
  font-weight: bold;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}


.default-color {
  background-color: $default-color;
}
.ok-color {
  background-color: $ok-color;
}
.warning-color {
  background-color: $warning-color;
}
.error-color {
  background-color: $error-color;
}

.form-icon {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 4px 0px 0px 4px;
  vertical-align: middle;
  border: 1px solid black;
  border-right: 0px;
  // margin-top: -0.75rem;
  // position: relative;
  float: left;
}

:focus {
  outline: 2px dashed $error-color;
}

form {
  padding-top: 1.6rem;
  font-weight: bold;
}
