// Colors
$error-color: #e66b6b;
$ok-color: #6be68c;
$default-color: #6ba4e6;
$warning-color: #e5dd6c;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
